<html>
<head>
	<title>UnAventon | Calificar usuario</title>

	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
	<link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../js/materialize.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="../js/materialize.js"></script>
	<script src="../js/init.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
</head>
<script type="text/javascript" src="../js/perfilvalidar.js"></script>
<nav class="white" role="navigation"  >
	<div class="nav-wrapper #ff9800 orange" >
		<img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			
		</ul>
	</div>
</nav>

<body style="background-color: #FEF9E7;">
	<div class="container">
		<div class="jumbotron">
			<article>
				<h1>Calificar usuario</h1>      
			</div>
		</div>

		
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    
<body>

 <center>
   <div id="ok" style="display: none;"><img src="http://michaelasher.com/ok.png" width="250" height="200" /></div>
   <div id="image1" class="contadorClicks"><img src="../img/positiv.jpg" width="75" height="75" />
   </div>
   <div id="image2" class="contadorClicks"><img src="../img/negativ.jpg" width="75" height="75" />
   </div>
 <center>
</body>
<script src="../js/script.js" type="text/javascript"></script>
</html>

			
				<h5 class="center  -align"> <p class="regtext">¿Desea volver a la página principal? <a href="../controller/index.php" >Clic aqu&iacute;</a></p> </h5>
			</form>
		</div>
		<footer class="page-footer teal solid #ee6e73">

			<div class="footer-copyright">
				<div class="container">
					© UnAventon <a class="white-text text-lighten-3" href="">- Todos los derechos reservados 2018</a>
				</div>
			</div>
		</footer>
	</body>
	</html>