<html>
<head>

<title>UnAventon | Editar un viaje</title>
	<meta charset="utf-8">
  <script type="text/javascript" src="../js/editarviaje.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/estilo.css">
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../js/materialize.min.js"></script>
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="../js/materialize.js"></script>
      <script src="../js/init.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>	
</head>
 

  <?php
      
    if(!empty($_SESSION['session_username'])) {
      $email = $_SESSION['session_username'];
  ?>    
    <nav class="white" role="navigation"  >
    <div class="nav-wrapper #ff9800 orange" >
      <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li > Bienvenido!</li> <li> &nbsp; <?php echo $email ?>  </li>
        <li ><a href="../controller/logout.php">Cerrar sesión</a></li>
      </ul>
    </div>
  </nav>
  
  <?php } ?> 
    
<body style="background-color: #FEF9E7;">
<div class="container">
  <div class="jumbotron">
 <article>
 <section>
				<form name="registerform" id="registerform" action="../controller/editarviaje.php?idviaje=<?php echo $idviaje ?>" method="POST">
					<div> 
						<ul>
							<li> 
								<h4>EDITAR VIAJE</h4>
								<p>Información del viaje</p>
								<span class="required_notification">* Datos requeridos</span> 
							</li>
							<li> 
								<label for="date" class="date"><em>*</em>Fecha del viaje:</label>
								<input type="date" name="fechaviaje" id="fechaviaje" required/ value= "<?php
									echo $datosviaje['fecha'];
								?>">	</li>
							<li> 
								<label for="monto"><em>*</em>Precio:</label>
								<input type="text" name="monto" id="monto" value= " <?php echo $datosviaje['monto']; ?>"/>
							</li> 
							<li> 
								<label for="duracion"><em>*</em>Duración:</label>
								<input  name="duracion" id="duracion" value= " <?php echo $datosviaje['duracion']; ?>"/>
							</li>
							<li> 
								<label for="horasalida"><em>*</em>Hora salida:</label>
								<input name="horasalida" id="horasalida" value= " <?php echo $datosviaje['hssalida']; ?>"/>
							</li>
							
							<li>
							<div class="form-group"> 
								<label for="vehiculo" >Elija su vehículo:
								<select name="vehiculo" >
									<?php for($i=0; $i<count($vehiculo);$i++)  {
										echo '<option value='.$vehiculo['idvehiculo'].' > '.$vehiculo[$i]['modelo'].' Patente : '.$vehiculo[$i]['patente'].' </option>';
									}?>
								</select>
								</label>
							</div>
							
							</li>
							<br><br><br>
							<li>
								<div class="form-group"> 
									<label for="origen">Ciudad/Origen:
									<select name="origen">
										<?php for($i=0; $i<count($origen);$i++)  {
											echo '<option value='.$origen['idOrigen'].'> '.$origen[$i]['ciudadOrigen'].' </option>';
										}?>
						
									</select>
									</label>
								</div>
							</li>
							<br><br><br>
							<li>
								<div class="form-group"> 
									<label for="destino">Ciudad/Destino:
									<select name="destino">
										<?php for($i=0; $i<count($destino);$i++)  {
											echo '<option value='.$destino['idDestino'].'> '.$destino[$i]['ciudadDestino'].' </option>';
										}?>	
						
									</select>
									</label>
								</div>	
							</li>
							<br><br><br>
							<li>
								<label for="observaciones"><em>*</em>Observaciones:</label>
								<input type="text" name="observaciones" id="observaciones" value= " <?php echo $datosviaje['observaciones']; ?>"/>
							</li>
							
								<button class="submit" name="modif" type="submit" onClick="runSubmit(this.form)">GUARDAR</button>
							 							
						</ul> 
					</div>
				</form>							
		</section>
	</article>
	<h5 class="center	-align"> <p class="regtext">¿Desea volver a la página principal? <?php echo"<a href=../controller/index.php?idautoincremental=".$id.">   Clic aquí  </a>"; ?></p> </h5>
	 </form>
</div>
</div>

 <?php
  include "../controller/footer.php";
?>


 	</body>
	
	</html>

				