<!DOCTYPE html>
<html>
<head>
	<title>UnAventon | Editar información de la cuenta</title>
<meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../css/estilo.css">
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../js/materialize.min.js"></script>
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="../js/materialize.js"></script>
      <script src="../js/init.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
</head>
<script type="text/javascript" src="../js/editarvalidar.js"></script>

<?php session_start();
 		if(!empty($_SESSION['session_username'])) {
			$email = $_SESSION['session_username'];
	?>	  
		<nav class="white" role="navigation"  >
    <div class="nav-wrapper #ff9800 orange" >
      <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li>Bienvenido!</li><li>&nbsp;<?php echo $email ?>  </li>
        <li ><a href="../controller/logout.php">Cerrar sesión</a></li>
      </ul>
    </div>
  </nav>
	
	<?php } ?> 
	<?php
	include ('../model/db.php')
	$conn = ingresar();
	if(!session_id()){ 
		session_start();
	}
	if (isset($_SESSION['idautoincremental'])){
	$idautoincremental= $_SESSION['idautoincremental'];
	$consulta="SELECT nombre, apellido, nombreusuario, email, telefono, fechanacimiento FROM usuarios WHERE idautoincremental='$idautoincremental'";
	$resultado=mysqli_query($conn,$consulta) or die('Error');
	$usuario=mysqli_fetch_array($resultado);
	
}
?>
<body style="background-color: #FEF9E7;">
	<div class="container">
		<div class="jumbotron">
	<article>
		<section>
				<form class="contact_form" action="" method="post" name="contact_form">
					<div> 
						<ul>
							<li> 
								<h4>EDITAR INFORMACIÓN DE LA CUENTA</h4>
								<p>Información de la cuenta</p>
								<span class="required_notification">* Datos requeridos</span> 
							</li>
							<li> 
								<label for="name"><em>*</em>Nombre:</label>
								<input type="text" name="name"/>
							</li>
							<li> 
								<label for="surname"><em>*</em>Apellido:</label>
								<input type="text" name="surname"/>
							</li> 
							<li> 
								<label for="name"><em>*</em>Nombre usuario:</label>
								<input type="text" name="nombredeusuario"/>
							</li>
							<li>
								<label for="email"><em>*</em>Email:</label>
								<input type="email" name="email"  required />
								<span class="form_hint"></span>
							</li>
							<li> 
								<label for="phone"><em>*</em>Teléfono:</label>
								<input name="phone" required/>
							</li>
							<li> 
								<label for="date" class="date"><em>*</em>Fecha de nacimiento:</label>
								<input name="fechanacimiento" required/>
								<span class="date"></span>
							</li>
							<li>
								<div class="field">
                        			<label for="password" class="required"><em>*</em>Clave actual:</label>
                        			
                        			<div class="input-box">
                            			<input type="password" name="claveactual" id="password" title="Contraseña" class="input-text required-entry validate-password" required/>
                        			</div> 
                    			</div>
                    		</li>
                    		<li>
								<div class="field">
                        			<label for="password" class="required"><em>*</em>Nueva clave:</label>
                        			
                        			<div class="input-box">
                            			<input type="password" name="nuevaclave" id="password" title="Contraseña" class="input-text required-entry validate-password" required/>
                        			</div> 
                    			</div>
                    		</li>
                    		<li>
                    			<div class="field">
                        			<label for="confirmation" ><em>*</em>Confirmar clave:</label>
                        			
                        			<div class="input-box">
                            			<input type="password" name="confirmarclave" title="Confirmar la contraseña" id="confirmation" class="input-text required-entry validate-cpassword" required/>
                        			</div>
                    			</div>
                    		</li>
                    		<li>
								<button class="submit" type="submit" onClick="runSubmit(this.form)">GUARDAR</button>
							</li> 							
						</ul> 
					</div>
				</form>							
		</section>
	</article>
	<h5 class="center  -align"> <p class="regtext">¿Desea volver a la página principal? <a href="../controller/index.php" >Clic aqu&iacute;</a></p> </h5>
  </form>
</div>


 <?php
  include "../controller/footer.php";
?>


 	</body>
	
	</html>