<!DOCTYPE html>
<html>
<head>
		<title>UnAventon | Información de la cuenta</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="../js/editarvalidar.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
	<link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
			<link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
			<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script type="text/javascript" src="../js/materialize.min.js"></script>
			<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script src="../js/materialize.js"></script>
			<script src="../js/init.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			 <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
</head>
  
  <?php
		session_start();	
		if(!empty($_SESSION['session_username'])) {
			$email = $_SESSION['session_username'];
			
	?>
  
  
  
  
<nav class="white" role="navigation"  >
<div class="nav-wrapper #ff9800 orange" >
 <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
 <ul id="nav-mobile" class="right hide-on-med-and-down">
 <li> Bienvenido!</li><li>&nbsp;<?php echo $email ?></li>
 <li><a href="../controller/logout.php">Cerrar Sesión</a></li>
 </ul>
 </div>
</nav>
<?php } ?> 
	
<body style="background-color: #FEF9E7;">
	<div class="container">
		<div class="jumbotron">
	<article>
		<section>
				<form class="contact_form" action="../controller/editarinformacion.php?idautoincremental=<?php echo $id ?>" method="POST" name="contact_form">

					<div> 
						<ul>
							<li> 
								<h4>EDITAR INFORMACIÓN DE LA CUENTA</h4>
								<p>Información de la cuenta</p>
								<span class="required_notification">* Datos requeridos</span> 
							</li>
							<li>
								<img src="../img/<?php echo $usuario['foto']; ?>" width="200"/>
							</li>
							<li> 
								<label for="name"><em>*</em>Nombre:</label>
								<input type="text" name="nombre" id="nombre" value=" <?php echo $usuario['nombre']; ?>"/>
							</li>
							<li> 
								<label for="surname"><em>*</em>Apellido:</label>
								<input type="text" name="apellido" id="apellido" value=" <?php echo $usuario['apellido']; ?>"/>
							</li> 
							<li> 
								<label for="name"><em>*</em>Nombre usuario:</label>
								<input type="text" name="nombreusuario" id="nombreusuario" value=" <?php echo $usuario['nombreusuario']; ?>"/>
							</li>
							<li> 
								<label for="phone"><em>*</em>Teléfono:</label>
								<input name="telefono" id="telefono" required/ value="<?php echo $usuario['telefono']; ?>" name="telefono" required/>
							</li>
							</li>
							<li> 
								<label for="date" class="date"><em>*</em>Fecha de nacimiento (Debe ser mayor de 18 años):</label>
								<input type="date" max="2000-06-28" name="fechanacimiento" id="fechanacimiento" required/ value= "<?php
									echo $usuario['fechanacimiento'];
								?>">
							</li>
						
							<li> 
								<label for="foto"><em>*</em>Foto:</label>
								<input type="img" name="foto" id="foto" required/ value= "<?php
									echo $usuario['foto'];
								?>">
							</li>
							<li>
							
								<button class="submit" name="editar" type="submit" onClick="runSubmit(this.form)">GUARDAR</button>
							</li> 							
						</ul> 
					</div>
				</form>							
		</section>
	</article>
	<h5 class="center	-align"> <p class="regtext">¿Desea volver a la página principal? <?php echo"<a href=../controller/index.php?idautoincremental=".$id.">   Clic aquí  </a>"; ?></p> </h5>
	
	</form>
</div>


 <?php
  include "../controller/footer.php";
?>


 	</body>
	
	</html>

























	