<!DOCTYPE html>
<html>
<head>
	<title>UnAventon | Editar contraseña de la cuenta</title>
<meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../css/estilo.css">
  <script type="text/javascript" src="../js/editarcontra.js"></script>
    
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../js/materialize.min.js"></script>
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="../js/materialize.js"></script>
      <script src="../js/init.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
</head>

		<?php session_start();
 
      if(empty($_SESSION['session_username'])) {
          
	?>  
		  <nav class="white" role="navigation"  >
    <div class="nav-wrapper #ff9800 orange" >
      <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../controller/login.php">Iniciar sesión</a></li>
        <li><a href="../controller/register.php">Registrarse</a></li>
      </ul>
    </div>
  </nav> <?php } ?>
	<?php
			
		if(!empty($_SESSION['session_username'])) {
			$email = $_SESSION['session_username'];
	?>	  
		<nav class="white" role="navigation"  >
    <div class="nav-wrapper #ff9800 orange" >
      <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li > Bienvenido!</li> <li> &nbsp; <?php echo $email ?>  </li>
        <li ><a href="../controller/logout.php">Cerrar sesión</a></li>
      </ul>
    </div>
  </nav>
	
	<?php } ?> 
	
<body style="background-color: #FEF9E7;">
	<div class="container">
		<div class="jumbotron">
	<article>
		<section>
				<form class="contact_form" action="../controller/editarcontrasena.php?idautoincremental=<?php echo $id ?>" method="post" name="contact_form">
					<div> 
						<ul>
							<li> 
								<h4>EDITAR CONTRASEÑA DE LA CUENTA</h4>
								<p>Información de la cuenta</p>
								<span class="required_notification">* Datos requeridos</span> 
							</li>
                    		<li>
								<div class="field">
                        			<label for="password" class="required"><em>*</em>Nueva clave:</label>
                        			
                        			<div class="input-box">
                            			<input type="password" name="contrasenia" id="contrasenia" title="Contraseña" class="input-text required-entry validate-password" required/>
                        			</div> 
                    			</div>
                    		</li>
                    		<li>
                    			<div class="field">
                        			<label for="confirmation" ><em>*</em>Confirmar clave:</label>
                        			
                        			<div class="input-box">
                            			<input type="password" name="confirmarcontrasenia" id="confirmarcontrasenia" title="Confirmar la contraseña" id="confirmation" class="input-text required-entry validate-cpassword" required/>
                        			</div>
                    			</div>
                    		</li>
                    		<li>
								<button class="submit" type="submit" name="editar" onClick="runSubmit(this.form)">GUARDAR</button>
							</li> 							
						</ul> 
					</div>
				</form>							
		</section>
	</article>
	<h5 class="center	-align"> <p class="regtext">¿Desea volver a la página principal? <?php echo"<a href=../controller/index.php?idautoincremental=".$id.">   Clic aquí  </a>"; ?></p> </h5></form>
</div>


 <?php
  include "../controller/footer.php";
?>


 	</body>
	
	</html>