 <!DOCTYPE html>
 <html>
	 <?php
  include "../controller/head.php";
?>

	<?php session_start();
 
      if(empty($_SESSION['session_username'])) {
          
	?>  
		  <nav class="white" role="navigation"  >
    <div class="nav-wrapper #ff9800 orange" >
      <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../controller/login.php">Iniciar sesión</a></li>
        <li><a href="../controller/register.php">Registrarse</a></li>
      </ul>
    </div>
  </nav> <?php } ?>
	<?php
			
		if(!empty($_SESSION['session_username'])) {
			$email = $_SESSION['session_username'];
	?>	  
		<nav class="white" role="navigation"  >
    <div class="nav-wrapper #ff9800 orange" >
      <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li > Bienvenido!</li> <li> &nbsp; <?php echo $email ?>  </li>
        <li ><a href="../controller/logout.php">Cerrar sesión</a></li>
      </ul>
    </div>
  </nav>
	
	<?php } ?> 
	
	
	
    
<body style= "background-color:#FEF9E7;">
  
 



   <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1  class='elegantshadow'> Un Aventon</h1>
        
       
        <br><br>

      </div>
    </div>
  
  <?php	
		if(!empty($_SESSION['session_username'])) {
			$name = $_SESSION['session_username'];
	?>

 <div class="row #ff9800 orange">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#test1">Crear viaje</a></li>
        <li class="tab col s3"><a href="#test2"> Mis viajes</a></li>
        <li class="tab col s3"><a href="#test3">Mi perfil</a></li>

      </ul>
    </div>
  </div>
  
	
    <div id="test1" class="col s12"> <h5 class="center  -align">Aquí puede crear la publicación de su viaje!</h5>    <h5 class="center-align"> 
    <?php 
    
		if ($pago == 0){
         echo "<a href=../controller/newtrip.php?idautoincremental=".$id.">Crear viaje  </a>"; 
       }
       else {
        echo"<a href=../controller/oopscrearviaje.php?idautoincremental=".$id.">Crear viaje </a>";
      }
         
    ?>  </h5> </div>
  <div id="test2" class="col s12"> <h5 class="center  -align">Aquí puede ver la informacion relacionada a sus viajes!</h5>  <a href="">   <h5 class="center-align"> <?php echo"<a href=../controller/misviajes.php?idautoincremental=".$id.">   Ver viajes  </a>"; ?> </h5>    </div>
  <div id="test3" class="col s12"> <h5 class="center  -align">Aquí puede acceder a su perfil!</h5>  <h5 class="center-align"> <?php echo"<a href=../controller/perfil.php?idautoincremental=".$id.">   Ver perfil  </a>"; ?>  </h5> </div>

<?php } ?> 

 <br><br>
 <br><br>
  
  
  <div id="index-banner" class="parallax-container">
    
	
    <div class="parallax"><img src="../img/5.jpg" alt="img 1"></div>
 </div>
 
 <br>
 <blockquote>
     <h5>Busqueda de viajes </h5>
    </blockquote>
   
	
	<br>

<div class="nav-wrapper">
	<form id="buscador" method="POST" action="../controller/buscador.php?idautoincremental=<?php echo $id ?>"> 
	<div class="input-field" >
		<label class="label-icon" for="search"><i class="material-icons">search</i></label>
		<input type="text" name="T1" size="30"><br><br> 
		<h5><input id="search" type="submit" value="buscar" name="buscar"  style= "background-color:#ee6e73;"> </h5>
		
	</div>
	</form> 
</div>
  
  <br>
<blockquote>
     <h4>Viajes activos </h4>
    </blockquote>


<table class="centered">
        <thead>
          <tr>
              <th>Fecha</th>
              <th>Precio por asiento</th>
              <th>Duracion</th>
			  <th>Hr.Salida</th>
			  <th>Ciudad/Origen</th>
			  <th>Ciudad/Destino</th>
			  <th>Observaciones</th>
          </tr>
        </thead>

        <tbody>
          
 <?php
       $today = date("Y-m-d");
      $date = "2018-06-28";
      $date2= "2018-07-28";

  
  //var_dump($viaje); se utiliza para mostrar la info que hay en la variable $viaje 
 for($i=0; $i<count($viaje);$i++) {
	
      if (($viaje[$i]["fecha"] > $date) and ($viaje[$i]["fecha"] < $date2)) {
		$precio = ($viaje[$i]["monto"]) / $viaje[$i]["cantasientos"]; // acomodar con cantidd de asientos ($viaje[$i]["cantasientosdisp"]).	  
	 echo "<td>".$viaje[$i]["fecha"].""."</td>";
	 echo "<td> $".$precio.""."</td>";
	 echo "<td>".$viaje[$i]["duracion"].""."Hs</td>";
	 echo "<td>".$viaje[$i]["hssalida"].""."Hs</td>";
	 echo "<td>".$viaje[$i]["ciudadOrigen"].""."</td>";
	 echo "<td>".$viaje[$i]["ciudadDestino"].""."</td>";
	 echo "<td>".$viaje[$i]["observaciones"].""."</td>";
    
	if( !empty($_SESSION['session_username'])) {
	echo"<td><a href=../controller/verviaje.php?idviaje=".$viaje[$i]["idviaje"]."&&idautoincremental=".$id.">Ver detalle </a></td>";
	 }
	 else
	 {
		echo"<td><a href=../controller/verviaje.php?idviaje=".$viaje[$i]["idviaje"].">Ver detalle </a></td>";
	}
	 
echo "</tr>";
 }

}
?>

    
  


     
		

    
      
        </tbody>
      </table>

 <hr></hr>
 <br></br>
  
   <div id="index-banner" class="parallax-container">
	 <div class="parallax"><img src="../img/auto1.jpg" alt="img 1"></div>
	</div>

</div>





 <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <a class="waves-effect #ff9800 orange btn" href="<?php echo '../controller/infodelsitio.php?idautoincremental=".$id."' ; ?> "> INFORMACIÓN DEL SITIO </a>

          <p class="light ">Conozca todos los detalles de la aplicación</p>
        </div>
      </div>

    </div>
  </div>





<br>
<br>
<br>
<br> 
<br>

  <?php
  include "../controller/footer.php";
?>

  
  
	  
	  
	  
	  
	  
</body>
  </html>