<html>

<head>

<title> Iniciar Sesion</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="../js/perfilvalidar.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>	
  
    body{

background-color: #FEF9E7
}
.jumbotron{
 background-color: #ff9800;
      color: #fff; 
}
.container{
color:black;
}

.submit{
color:black;
}
  
  
  </style>
  
</head>


<body>

<div class="container">
  <div class="jumbotron">
    <h1>Iniciar Sesi&oacute;n</h1>      
</div>
</div>


<div class="container">
  
  <form name="loginform" id="loginform" action="" method="POST">
    	<div class="form-group">
      <label for="name">Email: 
      <input type="email" name="email" id="email" class="form-control"  placeholder="Escribir email del usuario " required /></label>
	  </div>
    
	<div class="form-group">
      <label for="pwd">Contrase&ntildea: 
      <input type="password" name="contrasenia" id="contrasenia" class="form-control"  placeholder="Escribir contrase&ntilde;a " required /></label>
    </div>
	
    <p class="submit">
		<input type="submit" name="login" id="login" class="btn btn-default" value="Entrar" />
	</p>

	<p class="regtext">No estas registrado? <a href="../controller/register.php" >Registrate Aqu&iacute;</a>!</p>
	<p class="regtext">Volver a la pagina principal? <a href="../controller/index.php" >Clic Aqu&iacute;</a>!</p>
  </form>
</div>


 <?php
  include "../controller/footer.php";
?>










 	</body>
	
	</html>