<html>
<head>

<title>UnAventon | Método de pago</title>
	<meta charset="utf-8">
  <script type="text/javascript" src="../js/realizarpago.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/estilo.css">
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../js/materialize.min.js"></script>
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="../js/materialize.js"></script>
      <script src="../js/init.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>	
</head>
 

   <?php
		session_start();	
		if(!empty($_SESSION['session_username'])) {
			$email = $_SESSION['session_username'];
			
	?>
  
  
  
  
<nav class="white" role="navigation"  >
<div class="nav-wrapper #ff9800 orange" >
 <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
 <ul id="nav-mobile" class="right hide-on-med-and-down">
 <li> Bienvenido!</li><li>&nbsp;<?php echo $email ?></li>
 <li><a href="../controller/logout.php">Cerrar Sesión</a></li>
 </ul>
 </div>
</nav>
<?php } ?>
    
<body style="background-color: #FEF9E7;">
<div class="container">
  <div class="jumbotron">
 <article>

<br><br>
    
			<h3>Método de pago</h3>  
			<div id="register">
  
			<form name="form-control" id="registerform" action="../controller/metododepago.php?idviaje=<?php echo $idviaje ?>" method="POST">
				<div class="form-group">
					<label for="tipo">Tipo de tarjeta:
						<select name="tipo[]" id="tipo" class="form-control" required />
						<option value disabled class selected> Tipo </option>
						<option value="1" label"1">Crédito</option>
						<option value="2" label"2">Débito</option>
						</select>
					</label>
				</div>
				</br>
				<div class="form-group">  
					<label for="numtarjeta">Número de la tarjeta (Ingresar los 16 números sin - . , /):
						<input maxlength="16" type="text" name="numtarjeta" id="numtarjeta" class="form-control" required />
					</label>
				</div>
				<div class="form-group">  
					<label for="mes">Fecha de vencimiento:
					<input type="month" name="mes" min="2018-09" required />
					</label>
					</label>
				</div>

				</br>
				<div class="form-group">  
					<label for="nomape">Nombre y apellido impreso en la tarjeta:
						<input type="text" name="nomape" id="nomape" class="form-control" required />
					</label>
				</div>
				<div class="form-group"> 
					<label for="documento">Número de documento del títular (Ingresar los números sin - . , /):
						<input maxlength="8" type="text" name="documento" id="documento" class="form-control" required />
					</label>
				</div>
				<div class="form-group">  
					<label for="codseguridad">Código de seguridad (3 dígitos):
						<input minlength="3" maxlength="3" type="password" name="codseguridad" id="codseguridad" class="form-control" required />
					</label>
				</div>

					
				<div>
					
					<button class="submit" name="pago" type="submit" value="pago" href='../controller/metododepago.php?idautoincremental=".$id."&&idviaje=".$idviaje."' onClick="runSubmit(this.form)">Pagar</button>
				</div>
				
	
				<h5 class="center	-align"> <p class="regtext">¿Desea volver a la página principal? <?php echo"<a href=../controller/index.php?idautoincremental=".$id.">   Clic aquí  </a>"; ?></p> </h5>
	

			</form>
		</div>
	</div>
</body>
<footer class="page-footer teal solid #ee6e73">
   
    <div class="footer-copyright">
      <div class="container">
      © UnAventon <a class="white-text text-lighten-3" href="">- Todos los derechos reservados 2018</a>
      </div>
    </div>
  </footer>
</body></html>