<!DOCTYPE html>
<html>
<head>
		<title>UnAventon| Información de la cuenta</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
	<link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
			<link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
			<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script type="text/javascript" src="../js/materialize.min.js"></script>
			<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script src="../js/materialize.js"></script>
			<script src="../js/init.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			 <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
</head>


<?php session_start();
 
			
		if(!empty($_SESSION['session_username'])) {
			$email = $_SESSION['session_username'];
	?>	  
		<nav class="white" role="navigation"  >
    <div class="nav-wrapper #ff9800 orange" >
      <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li style="color:white"> <li> Bienvenido!</li> <li> &nbsp; <?php echo $email ?>  </li> </li>
        <li style="color:white"> <li><a href="../controller/logout.php">Cerrar Sesión</a></li> </li>
      </ul>
    </div>
  </nav>
	
	<?php } ?> 


<body style="background-color: #FEF9E7;">
	<div >

	<article>
		<section>
				
				<div class="usuario"> 
					<ul>
							<li> 
								<h3>MI CUENTA</h3>
								<p>Datos de contacto</p>
							</li>
							<li> 
								<label for="name">Nombre:</label>
								<?php
									echo $usuario['nombre'];
								
								?>
								
							</li>
							<li> 
								<label for="surname">Apellido:</label>
								<?php
									echo $usuario['apellido'];
								?>
							</li> 
							<li>
								<label for="email">Email:</label>
								<?php
									echo $usuario['email'];
	
								?>
							</li>
							<li> 
								<label for="name">Nombre usuario:</label>
								<?php
									echo $usuario['nombreusuario'];
								?>
							</li>
							<li> 
								<label for="phone">Teléfono:</label>
								<?php
									echo $usuario['telefono'];
								?>
							</li>
							<li> 
								<label for="date">Fecha de nacimiento:</label> 
								<?php
									echo $usuario['fechanacimiento'];
								?>
							</li>
							<li>
								<div class="field">
                        			<label for="password" class="required">Clave:</label>
									<?php
									echo $usuario['contrasenia'];
								?>
                    			</div>
                    		</li>
                    		<li>
								<div >
									<button  class="submit" href="editarinformacion.html">Editar</button>
								</div>
							</li> 							
						</ul> 
					</div>
						
		</section>
			
	</article>
	<h5 class="center	-align"> <p class="regtext">Desea agregar un vehiculo a su cuenta?  <?php echo"<a href=../controller/registrarauto.php?idautoincremental=".$id.">   Cliq Aqui!  </a>"; ?> </p> </h5>
	<h5 class="center	-align"> <p class="regtext">Volver a la pagina principal? <?php echo"<a href=../controller/index.php?idautoincremental=".$id.">   Clic Aqui  </a>"; ?>!</p> </h5>

	
		
		
	</div>
		
	<?php 
		  include "../controller/footer.php";
?>
</body>
</html>
