<!DOCTYPE html>
<html>
<head>
 <?php
  include "../controller/head.php";
?>

		<title>UnAventon | Mis viajes</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
	<link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
			<link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
			<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script type="text/javascript" src="../js/materialize.min.js"></script>
			<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script src="../js/materialize.js"></script>
			<script src="../js/init.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			 <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
</head>
  
  <?php
		session_start();	
		if(!empty($_SESSION['session_username'])) {
			$email = $_SESSION['session_username'];?>
<nav class="white" role="navigation"  >
<div class="nav-wrapper #ff9800 orange" >
 <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
 <ul id="nav-mobile" class="right hide-on-med-and-down">
 <li> Bienvenido!</li><li>&nbsp;<?php echo $email ?></li>
 <li><a href="../controller/logout.php">Cerrar Sesión</a></li>
 </ul>
 </div>
</nav>
<?php } ?>


<body style="background-color: #FEF9E7;">
	<div class="container">
	<div class="jumbotron">
	<article>
		<section>
			<div> 
				<ul>
					<li> 
						<h4>MIS VIAJES</h4>
							<p> Información de viajes</p>
					</li>
				</ul>	

<table  class="table table-bordered" id="table">
<thead>
   <tr>
    <th>Fecha</th>
    <th>Monto</th>
    <th>Duración</th>
	<th>Hr.salida</th>
	<th>Distancia /KM</th>
	<th>Observaciones</th>
  </tr>
</thead>
  <tbody>
  <?php
  for($i=0; $i<count($viaje);$i++) {
   	echo "<td>".$viaje["fecha"]."</td>";
	 echo "<td>".$viaje["monto"].""."</td>";
	 echo"<td>".$viaje["duracion"].""."</td>";
	 echo"<td>".$viaje["hssalida"].""."</td>";
	 echo"<td>".$viaje["distancia"].""."</td>";
	 echo"<td>".$viaje["observaciones"].""."</td>";
	}
  ?>
 
  </tbody>
  </table>
  <hr width="100%"> </hr>
 </div>

</section>
	</article>
	<h5 class="center	-align"> <p class="regtext">¿Desea volver a la página principal? <?php echo"<a href=../controller/index.php?idautoincremental=".$id.">   Clic aquí  </a>"; ?></p> </h5>
	

 <footer class="page-footer teal solid #ee6e73">
    <div class="footer-copyright">
      <div class="container">
      © UnAventon <a class="white-text text-lighten-3" href="">- Todos los derechos reservados 2018</a>
      </div>
    </div>
  </footer>
</body>
</html>