<!DOCTYPE html>
<html>
<head>
	<title>UnAventon | Editar datos del vehículo</title>
<meta charset="utf-8">
	<script type="text/javascript" src="../js/editarauto.js"></script>
	  
  <link rel="stylesheet" type="text/css" href="../css/estilo.css">
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../js/materialize.min.js"></script>
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="../js/materialize.js"></script>
      <script src="../js/init.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
</head>

	  
		<?php
			session_start();
		if(!empty($_SESSION['session_username'])) {
			$email = $_SESSION['session_username'];
	?>	  
		<nav class="white" role="navigation"  >
    <div class="nav-wrapper #ff9800 orange" >
      <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li > Bienvenido!</li> <li> &nbsp; <?php echo $email ?>  </li>
        <li ><a href="../controller/logout.php">Cerrar sesión</a></li>
      </ul>
    </div>
  </nav>
	
	<?php } ?> 
	
<body style="background-color: #FEF9E7;">
	<div class="container">
		<div class="jumbotron">
	<article>
		<section>
				<form class="contact_form" action="../controller/modificarauto.php?idvehiculo=<?php echo $id ?>" method="post" name="contact_form">
					<div> 
						<ul>
							<li> 
								<h4>EDITAR DATOS DEL VEHÍCULO</h4>
								<p>Información del vehículo</p>
								<span class="required_notification">* Datos requeridos</span> 
							</li>
							<li> 
								<label for="name"><em>*</em>Marca:</label>
								<input type="text" name="marca" id="marca" value= " <?php echo $datosauto['marca']; ?>" required/>
							</li>
							<li> 
								<label for="name"><em>*</em>Modelo:</label>
								<input type="text" name="modelo" id="modelo" value= " <?php echo $datosauto['modelo']; ?>" required/>
							</li> 
							<li> 
								<label for="name"><em>*</em>Color:</label>
								<input type="text" name="color" id="color" value= " <?php echo $datosauto['color']; ?>" required/>
							</li>
							<li> 
								<label for="name"><em>*</em>Detalles:</label>
								<input minlength="2" type="text" name="detalles" id="detalles" value= " <?php echo $datosauto['detalles']; ?>" required/>
							</li>
							<li> 
								<label for="name"><em>*</em>Cantidad de asientos disponibles:</label>
								<input minlength="1" type="text" name="cantasientosdisp" id="cantasientosdisp" value= " <?php echo $datosauto['cantasientosdisp']; ?>" required/>
							</li>
							<li>
								<label for="name"><em>*</em>Patente:</label>
								<input type="text" name="patente" id="patente" value= " <?php echo $datosauto['patente']; ?>" required/>
								<button class="submit" name="modif" type="submit" onClick="runSubmit(this.form)">GUARDAR</button>
							</li> 							
						</ul> 
					</div>
				</form>							
		</section>
	</article>
	<h5 class="center	-align"> <p class="regtext">¿Desea volver al perfil? <?php echo"<a href=../controller/perfil.php?idautoincremental=".$iduser.">   Clic aquí  </a>"; ?></p> </h5>
	
	<h5 class="center	-align"> <p class="regtext">¿Desea volver a la página principal? <?php echo"<a href=../controller/index.php?idautoincremental=".$id.">   Clic aquí  </a>"; ?></p> </h5>
	
	</form>
</div>


 <?php
  include "../controller/footer.php";
?>


 	</body>
	
	</html>