<html>
<head>

	<title>Registrar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="../js/vehicleSelector.js"></script>
	<style>
	body{
		background-color:#FEF9E7
	}
	.jumbotron{
		background-color:#ff9800;
		color: #fff; 
	}
	.container{
		color:black;
	}
	.submit{
		color:black;
	}
</style>
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Crear un viaje</h1>      
		</div>
	</div>
	<div class="container">
		<div id="newTrip">
			<form name="tripForm" id="tripForm" action="../controller/crearviaje.php" method="POST">
				<div class="form-group">  
					<label for="type1"> Recurrente.
						<input type="radio" name="tipo" id="tipo1" class="form-control"  required />
					</label>  
					<label for="type2"> Único.
						<input type="radio" name="tipo" id="tipo2" class="form-control"  required />
					</label>
				</div>
				<div class="form-group">
					<label for="fechaviaje">Fecha del viaje:
						<input type="date" name="fechaviaje" id="fechaviaje" class="form-control"  placeholder="Escribir Fecha del viaje " required />
					</label>
				</div>
				<div class="form-group">  
					<label for="destino">Destino:
						<input type="text" name="destino" id="destino" class="form-control"  placeholder="Escribir ciudad destino" required />
					</label>
				</div>
				<div class="form-group">  
					<label for="hora">Hora:
						<input type="time" name="hora" id="hora" class="form-control"  placeholder="Escribir hora de salida" required />
					</label>
				</div>
				<div class="form-group">  
					<label for="destino">Monto:
						<input type="number" name="monto" id="monto" class="form-control"  placeholder="Escribir el Monto" required />
					</label>
				</div>
				<div class="form-group">  
					<label for="destino">Duracion:
						<input type="time" name="duracion" id="duracion" class="form-control"  placeholder="Escribir la duracion promedio" required />
					</label>
				</div>
				<div class="form-group">  
					<label for="destino">Distancia:
						<input type="text" name="distancia" id="distancia" class="form-control"  placeholder="Escribir la distancia /KM" required />
					</label>
				</div>
				<div class="form-group">  
					<label for="destino">Observaciones:
						<input type="text" name="observaciones" id="observaciones" class="form-control"  placeholder="Escribir observaciones" required />
					</label>
				</div>
				<p id="vehicleSelector"> Elija su vehículo </p>
				<div class="input-field col s12">
					<select>
						<option value="" disabled selected>Vehiculos</option>
						<option value="1">Option 1</option>
						<option value="2">Option 2</option>
						<option value="3">Option 3</option>
					</select>
				</div>
				<br></br>
				<p class="submit">
					<input type="submit" name="finishtrip" id="finishtrip" class="btn btn-default" value="Crear viaje" />
				</p>
				<h5 class="center	-align"> <p class="regtext">Volver a la pagina principal? <a href="../controller/index.php" >Clic Aqu&iacute;</a>!</p> </h5>

			</form>
		</div>
	</div>
</body>
</html>