<html>
<head>

<title>UnAventon | Crear Publicacion de Viaje</title>
	<meta charset="utf-8">
  <script type="text/javascript" src="../js/perfilvalidar.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/estilo.css">
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../js/materialize.min.js"></script>
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="../js/materialize.js"></script>
      <script src="../js/init.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>	
</head>
 

  <?php
      
    if(!empty($_SESSION['session_username'])) {
      $email = $_SESSION['session_username'];
  ?>    
    <nav class="white" role="navigation"  >
    <div class="nav-wrapper #ff9800 orange" >
      <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li > Bienvenido!</li> <li> &nbsp; <?php echo $email ?>  </li>
        <li ><a href="../controller/logout.php">Cerrar sesión</a></li>
      </ul>
    </div>
  </nav>
  
  <?php } ?> 
    
<body style="background-color: #FEF9E7;">
<div class="container">
  <div class="jumbotron">
 <article>
    <h1>Crear Viaje</h1>      
</div>
</div>
	<div class="container">
			<div class="form-group">
			<label for="tipo">Tipo de viaje:
					<select >
						<option value="" disabled selected></option>
						<option value="1">Recurrente</option>
						<option value="2">Único</option>
					</select>
			</label>
				</div>
				<div class="form-group">
					<label for="fechaviaje">Fecha del viaje:
						<input type="date" name="fechaviaje" id="fechaviaje" class="form-control"  placeholder="Escribir Fecha del viaje " required />
					</label>
				</div>
				<div class="form-group">  
					<label for="destino">Precio por asiento:
						<input type="text" name="precioasiento" id="precioasiento" class="form-control"  placeholder="Escribir precio" required />
					</label>
				</div>
				<div class="form-group">  
					<label for="destino">Duracion:
						<input type="time" name="duracion" id="duracion" class="form-control"  placeholder="Escribir la duracion promedio" required />
					</label>
				</div>
				<div class="form-group">  
					<label for="hora">Hora salida:
						<input type="time" name="horasalida" id="horasalida" class="form-control"  placeholder="Escribir hora de salida" required />
					</label>
				</div>
				<div class="form-group">  
					<label for="destino">Distancia:
						<input type="text" name="distancia" id="distancia" class="form-control"  placeholder="Escribir la distancia /KM" required />
					</label>
				</div>
					<div class="form-group"> 
					<label for="Destino">Ciudad/Origen:
					<select>
						<option value="" disabled selected></option>
						<option value="1">La Plata</option>
						<option value="2">Chascomus</option>
						<option value="3">Berisso</option>
						<option value="4">Ensenada</option>
						<option value="5">Buenos Aires</option>
						<option value="6">Saladillo</option>
						
					</select>
					</label>
				</div>
				<div class="form-group"> 
					<label for="Destino">Ciudad/Destino:
					<select>
						<option value="" disabled selected></option>
						<option value="1">La Plata</option>
						<option value="2">Chascomus</option>
						<option value="3">Berisso</option>
						<option value="4">Ensenada</option>
						<option value="5">Buenos Aires</option>
						<option value="6">Saladillo</option>
						
					</select>
					</label>
				</div>
				
				<div class="form-group">  
					<label for="destino">Observaciones:
						<input type="text" name="observaciones" id="observaciones" class="form-control"  placeholder="Escribir observaciones" required />
					</label>
				</div>
				<div class="form-group"> 
				<label for="vehiculo">Elija su vehículo:
					<select>
						<option value="" disabled selected></option>
						<option value="1">Auto</option>
						<option value="2">Camioneta</option>
						<option value="3">Combi</option>
					</select>
				</label>
				</div>
				<br></br>
				<p class="submit">
					<input type="submit" name="finishtrip" id="finishtrip" class="btn btn-default" value="Crear viaje" />
				</p>
				<h5 class="center	-align"> <p class="regtext">¿Desea volver a la página principal? <?php echo"<a href=../controller/index.php?idautoincremental=".$id.">   Clic aquí  </a>"; ?></p> </h5>
	

			</form>
		</div>
	</div>
</body>
<footer class="page-footer teal solid #ee6e73">
   
    <div class="footer-copyright">
      <div class="container">
      © UnAventon <a class="white-text text-lighten-3" href="">- Todos los derechos reservados 2018</a>
      </div>
    </div>
  </footer>
</body></html>