<html>
<head>

<title>UnAventon | Registrar vehículo</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
 
  <script type="text/javascript" src="../js/autovalidar.js"></script>
  	<link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
			<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script type="text/javascript" src="../js/materialize.min.js"></script>
			<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script src="../js/materialize.js"></script>
			<script src="../js/init.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			 <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../js/perfilvalidar.js"></script>
	

<?php session_start();
 
      if(empty($_SESSION['session_username'])) {
          
  ?>  
      <nav class="white" role="navigation"  >
    <div class="nav-wrapper #ff9800 orange" >
      <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../controller/login.php">Iniciar sesión</a></li>
        <li><a href="../controller/register.php">Registrarse</a></li>
      </ul>
    </div>
  </nav> <?php } ?>
  <?php
      
    if(!empty($_SESSION['session_username'])) {
      $email = $_SESSION['session_username'];
  ?>    
    <nav class="white" role="navigation"  >
    <div class="nav-wrapper #ff9800 orange" >
      <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li > Bienvenido!</li> <li> &nbsp; <?php echo $email ?>  </li>
        <li ><a href="../controller/logout.php">Cerrar sesión</a></li>
      </ul>
    </div>
  </nav>
  
  <?php } ?> 
    
<body style= "background-color:#FEF9E7;">
	<div class="container">
		<div class="jumbotron">
			<h1>Crear un viaje</h1>      
		</div>
	</div>
	<div class="container">
		<div id="newTrip">
			<form name="tripForm" id="tripForm" action="../controller/crearviaje.php" method="POST">
				<div class="form-group">  
					<label for="type1"> Recurrente.
						<input type="radio" name="tipo" id="tipo1" class="form-control"  required />
					</label>  
					<label for="type2"> Único.
						<input type="radio" name="tipo" id="tipo2" class="form-control"  required />
					</label>
				</div>
				<div class="form-group">
					<label for="fechaviaje">Fecha del viaje:
						<input type="date" name="fechaviaje" id="fechaviaje" class="form-control"  placeholder="Escribir Fecha del viaje " required />
					</label>
				</div>
				<div class="form-group">  
					<label for="destino">Destino:
						<input type="text" name="destino" id="destino" class="form-control"  placeholder="Escribir ciudad destino" required />
					</label>
				</div>
				<div class="form-group">  
					<label for="hora">Hora:
						<input type="time" name="hora" id="hora" class="form-control"  placeholder="Escribir hora de salida" required />
					</label>
				</div>
				<div class="form-group">  
					<label for="destino">Monto:
						<input type="number" name="monto" id="monto" class="form-control"  placeholder="Escribir el Monto" required />
					</label>
				</div>
				<div class="form-group">  
					<label for="destino">Duracion:
						<input type="time" name="duracion" id="duracion" class="form-control"  placeholder="Escribir la duracion promedio" required />
					</label>
				</div>
				<div class="form-group">  
					<label for="destino">Distancia:
						<input type="text" name="distancia" id="distancia" class="form-control"  placeholder="Escribir la distancia /KM" required />
					</label>
				</div>
				<div class="form-group">  
					<label for="destino">Observaciones:
						<input type="text" name="observaciones" id="observaciones" class="form-control"  placeholder="Escribir observaciones" required />
					</label>
				</div>
				<p id="vehicleSelector"> Elija su vehículo </p>
				<div class="input-field col s12">
					<select>
						<option value="" disabled selected>Vehiculos</option>
						<option value="1">Option 1</option>
						<option value="2">Option 2</option>
						<option value="3">Option 3</option>
					</select>
				</div>
				<br></br>
				<p class="submit">
					<input type="submit" name="finishtrip" id="finishtrip" class="btn btn-default" value="Crear viaje" />
				</p>
				<h5 class="center	-align"> <p class="regtext">¿Desea volver a la página principal? <a href="../controller/index.php" >Clic aqu&iacute;</a></p> </h5>


			</form>
		</div>
	</div>
</body>
<footer class="page-footer teal solid #ee6e73">
   
    <div class="footer-copyright">
      <div class="container">
      © UnAventon <a class="white-text text-lighten-3" href="">- Todos los derechos reservados 2018</a>
      </div>
    </div>
  </footer>
</body></html>