<html>

<title>UnAventon | Postularse al viaje </title>
<?php
include "../controller/head.php";
?>

<?php session_start();

if(empty($_SESSION['session_username'])) {

?>  
<nav class="white" role="navigation"  >
	<div class="nav-wrapper #ee6e73" >
		<img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="../controller/login.php">Iniciar sesión</a></li>
			<li><a href="../controller/register.php">Registrarse</a></li>
		</ul>
	</div>
</nav> <?php } ?>
<?php	
if(!empty($_SESSION['session_username'])) {
$name = $_SESSION['session_username'];
?>	  
<nav class="white" role="navigation"  >
	<div class="nav-wrapper #ff9800 orange" >
		<img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li>Bienvenido!</li><li>&nbsp;<?php echo $name ?></li>
			<li><a href="../controller/logout.php">Cerrar sesión</a></li>
		</ul>
	</div>
</nav>

<?php } ?>

<body style= "background-color:#FEF9E7;">



	<div class="container">
		<div class="jumbotron">
			<h1>Lista de postulados</h1>

		</div>
		


		<table  class="table table-bordered" id="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>

				</tr>
			</thead>
			<tbody>
				<?php
				for($i=0; $i<count($usuario);$i++) {
					echo "<tr><td>".$usuario["Nombre"]."</td>";
					echo "<td> $".$usuario["Apellido"].""."</td>";
					echo"<td><a onClick='miFuncion()'   href=../controller/eliminarviaje.php?idviaje=".$viaje[$i]["idviaje"].">Eliminar </a></td>";
	 				echo "</tr>";
				}

					?>
				</tbody>
			</table>
			
		</div>

		<div class="container">
			<h5> <a title="Menu Principal" href="../controller/index.php">Volver al menú principal</a></h5>
		</div>

		<br></br>
		<br></br>

		<?php
		include "../controller/footer.php";
		?>

	</body>



	</html>