

<html>
<head>

<title>UnAventon | Registrar vehículo</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="../js/autovalidar.js"></script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../js/perfilvalidar.js"></script>
	
<style>
  body{

background-color:#FEF9E7
}
.jumbotron{
 background-color:#ff9800;
      color: #fff; 
}
.container{
color:black;
}

.submit{
color:black;
}
</style>

</head>
<?php
			
		if(!empty($_SESSION['session_username'])) {
			$email = $_SESSION['session_username'];
	?>	  
		<nav class="white" role="navigation"  >
    <div class="nav-wrapper #ff9800 orange" >
      <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li > Bienvenido!</li> <li> &nbsp; <?php echo $email ?>  </li>
        <li ><a href="../controller/logout.php">Cerrar sesión</a></li>
      </ul>
    </div>
  </nav>
	
	<?php } ?>


 <!DOCTYPE html>
 <html>
	 <?php
  include "../controller/head.php";
?>

	<?php session_start();
 
      if(empty($_SESSION['session_username'])) {
          
	?>  
		  <nav class="white" role="navigation"  >
    <div class="nav-wrapper #ff9800 orange" >
      <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../controller/login.php">Iniciar sesión</a></li>
        <li><a href="../controller/register.php">Registrarse</a></li>
      </ul>
    </div>
  </nav> <?php } ?>
	<?php
			
		if(!empty($_SESSION['session_username'])) {
			$email = $_SESSION['session_username'];
	?>	  
		<nav class="white" role="navigation"  >
    <div class="nav-wrapper #ff9800 orange" >
      <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li > Bienvenido!</li> <li> &nbsp; <?php echo $email ?>  </li>
        <li ><a href="../controller/logout.php">Cerrar sesión</a></li>
      </ul>
    </div>
  </nav>
	
	<?php } ?> 
	
	
	
    
<body style= "background-color:#FEF9E7;">
<div class="container">
  
    <h1>Registrar vehículo</h1>      

</div>

<div class="container">
<div id="register">
  
  <form name="registerform" id="registerform" action="../controller/registrarauto.php?idautoincremental=<?php echo $id ?>" method="POST">

	<div class="form-group">  
	<label for="name">Marca:
	  <input type="text" name="marca" id="marca" class="form-control"  placeholder="Escribir la marca" required /></label>
     </div>
	
	<div class="form-group">  
	<label for="name">Color:
	  <input type="text" name="color" id="color" class="form-control"  placeholder="Escribir el color" required /></label>
     </div>
	<div class="form-group">  
	<label for="name">Detalles:
	  <input type="textarea" name="detalles" id="detalles" class="form-control"  placeholder="Detalles del vehiculo" required /></label>
     </div>
	
	
	
      <div class="form-group">  
	<label for="name">Cantidad de asientos disponibles:
	  <input type="number" name="cantasientosdisp" id="cantasientosdisp" class="form-control"  placeholder="Cantidad de asientos" required /></label>
     </div>
	 
	 <div class="form-group">  
	<label for="name">Modelo:
	  <input type="text" name="modelo" id="modelo" class="form-control"  placeholder="Escribir el modelo" required /></label>
     </div>
	
	  <div class="form-group">
	 
	  <label for="email">Patente:
      
	  <input type="text" name="patente" id="patente" class="form-control"  placeholder="Escribir la patente"  required /></label>
	  </div>
    

	<p class="submit">
		<input type="submit" name="register" id="registerBtn" class="btn btn-default" onClick="runSubmit(this.form)" value="REGISTRAR" />
	</p>

  </form>
  <h5 class="center	-align"> <p class="regtext">Volver a la pagina principal? <?php echo"<a href=../controller/index.php?idautoincremental=".$id.">   Clic Aqui  </a>"; ?>!</p> </h5>

</div>
</div>
<footer class="page-footer teal solid #ee6e73">
   
    <div class="footer-copyright">
      <div class="container">
      © UnAventon <a class="white-text text-lighten-3" href="">- Todos los derechos reservados 2018</a>
      </div>
    </div>
  </footer>


	</body>
</html>