<html>



<title>Detalle del viaje </title>
			 <?php
  include "../controller/head.php";
?>




<?php session_start();
 
      if(empty($_SESSION['session_username'])) {
          
	?>  
		  <nav class="white" role="navigation"  >
    <div class="nav-wrapper #ff9800 orange" >
      <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../controller/login.php">iniciar Sesión</a></li>
        <li><a href="../controller/register.php">Registrarse</a></li>
      </ul>
    </div>
  </nav> <?php } ?>
	<?php	
		if(!empty($_SESSION['session_username'])) {
			$name = $_SESSION['session_username'];
	?>	  
		<nav class="white" role="navigation"  >
    <div class="nav-wrapper #ff9800 orange" >
      <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li> Bienvenido!</li> <li> &nbsp; <?php echo $name ?>  </li>
        <li><a href="../controller/logout.php">Cerrar Sesión</a></li>
      </ul>
    </div>
  </nav>
	
	<?php } ?>

<body style= "background-color:#FEF9E7;">



<div class="container">
<div class="jumbotron">
<h1>Detalle del Viaje</h1>

</div>
<h3> Informacion del viaje seleccionado</h3>


<table  class="table table-bordered" id="table">
<thead>
   <tr>
    <th>Fecha</th>
    <th>Monto</th>
    <th>Duracion</th>
	<th>Hr.Salida</th>
	<th>Distancia /KM</th>
	<th>Observaciones</th>
	
  </tr>
  </thead>
  <tbody>
  <?php
   echo "<tr><td>".$viaje["fecha"]."</td>";
	 echo "<td>".$viaje["monto"].""."</td>";
	 echo"<td>".$viaje["duracion"].""."</td>";
	 echo"<td>".$viaje["hssalida"].""."</td>";
	 echo"<td>".$viaje["distancia"].""."</td>";
	 echo"<td>".$viaje["observaciones"].""."</td>";
	
  ?>
  </tbody>
  </table>
  <hr width="100%">
 </div>

<div class="container">
 <h5> <a title="Menu Principal" href="../controller/index.php">Volver al menu principal</a></h5>
</div>

<br></br>
<br></br>

 <?php
  include "../controller/footer.php";
?>
 
</body>



</html>