<html>



<title>UnAventon | Detalle del viaje </title>
       <?php
  include "../controller/head.php";
?>





<?php session_start();
 
      if(empty($_SESSION['session_username'])) {
          
	?>  
		  <nav class="white" role="navigation"  >
    <div class="nav-wrapper #ee6e73" >
      <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../controller/login.php">Iniciar sesión</a></li>
        <li><a href="../controller/register.php">Registrarse</a></li>
      </ul>
    </div>
  </nav> <?php } ?>
	<?php	
		if(!empty($_SESSION['session_username'])) {
			$name = $_SESSION['session_username'];
	?>	  
		<nav class="white" role="navigation"  >
    <div class="nav-wrapper #ff9800 orange" >
      <img id="logo-container" src="../img/logo.jpg" width="6%" height="100%" class="brand-logo"></img>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>Bienvenido!</li><li>&nbsp;<?php echo $name ?></li>
        <li><a href="../controller/logout.php">Cerrar sesión</a></li>
      </ul>
    </div>
  </nav>
	
	<?php } ?>

<body style= "background-color:#FEF9E7;">



<div class="container">
<div class="jumbotron">
<h1>Detalle del viaje</h1>

</div>
<h3> Información del viaje seleccionado</h3>


<table  class="table table-bordered" id="table">
<thead>
   <tr>
    <th>Fecha</th>
    <th>Precio por asiento</th>
    <th>Duración</th>
	<th>Hr.salida</th>
	<th>Ciudad/Origen</th>
	<th>Ciudad/Destino</th>
	<th>Observaciones</th>
	
  </tr>
  </thead>
  <tbody>
  <?php
   echo "<tr><td>".$viaje["fecha"]."</td>";
	 echo "<td> $".$viaje["monto"].""."</td>";
	 echo"<td>".$viaje["duracion"].""."Hs</td>";
	 echo"<td>".$viaje["hssalida"].""."Hs</td>";
	 echo "<td>".$viaje["ciudadOrigen"].""."</td>";
	 echo "<td>".$viaje["ciudadDestino"].""."</td>";
	 echo"<td>".$viaje["observaciones"].""."</td>";
	if((!empty($_SESSION['session_username'])) and($viaje["idautoincremental"]<>$id) and ($postulacion != $id)) {
      
echo"<td><a href=../controller/postularse.php?idviaje=".$viaje["idviaje"]."&idautoincremental=".$id.">Postularse </a></td>";
}
	
	
  ?>
  </tbody>
  </table>
  <hr width="100%">
 </div>

<div class="container">
 <h5> <a title="Menu Principal" href="../controller/index.php">Volver al menú principal</a></h5>
</div>

<br></br>
<br></br>

 <?php
  include "../controller/footer.php";
?>
 
</body>



</html>